#!/usr/bin/env zsh

set -euo pipefail

{{ if eq .chezmoi.os "darwin" -}}
# macos-defaults hash: {{ include "scripts/macos-defaults" | sha256sum }}
"{{ .chezmoi.sourceDir }}/scripts/macos-defaults"
{{ end -}}
