[user]
	name = Juliano Petronetto
	email = {{ onepasswordRead "op://dev/git/email" }}

[url "git@github.com:"]
	insteadOf = https://github.com/

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[core]
	excludesFile = ~/.config/git/ignore

[includeIf "gitdir:/opt/code/work/"]
	path = ~/.config/git/config-work
