[user]
	name = Juliano Petronetto
	email = {{ index . "git_email" | default "CHANGE_ME@example.com" }}
	signingkey = {{ include "private_dot_ssh/private_petronetto.pub" | trim }}

[core]
	sshCommand = "ssh -i ~/.ssh/petronetto.pub -o IdentitiesOnly=yes"
	excludesFile = ~/.config/git/ignore

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[init]
	defaultBranch = main

[includeIf "gitdir:/opt/code/work/"]
	path = ~/.config/git/config-work
